body {
    font-family:Arial, sans-serif;
    margin-left:20px;
}

a {
    font-size:12pt;
    text-decoration:none;
    display:block;
}
a.file {
    color:rgb(200,150,50);
}
a.directory {
    color:rgb(50,200,150);
    font-weight:bold
}
a.hover {
    text-decoration:underline;
}
